<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ei, <%= @user.email %>, clique no link abaixo para validar seu token </h1>
    <p>
      <%= link_to 'Validar Token', @url %>
    </p>
  </body>
</html>
